internal/
input/
output/
trash/
renv/
.DS_Store
.Rhistory
.RData
.RDataTmp
*.jpg
*.jpeg
*.svg
*.png
*.pdf
*.docx
*.doc
*.sav
*.dta
*.zip
*.rds
*.rda
*.dat
*.dta
*.tex
*.txt
*.npy
*.html
*.nb.html
*.knit.md
.Rprofile
.Rproj.user
code.Rproj